body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

/*div{
	border: 1px solid yellow;
}*/

/*.content{
	color:white;
	text-align: center;
}

.red {
	background: red;
	height: 100px;
}

.blue{
 background: blue;
 height: 100px;
} */

.thumbnail img {
    height:250px;
    width:100%;
}

/*div {
	border: 1px solid black;
	height: 100px;
}*/
